* {
  max-width: 700px;

  margin: 0 auto;
}

body {
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(20, 20, 20);
  margin: auto;
}

div {
  margin: 10px;
}
.menu {
  list-style: none;
  display: inline;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #e3e4e6;
}
header {
  width: 100%;
  background: rgb(20, 20, 20);
  position: sticky;
  top: 0px;
}

li {
  display: inline;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.photo {
  width: 300px;
  height: auto;
  border-radius: 25px;
  overflow: hidden;
  flex-wrap: wrap;
  box-shadow: 4px 4px 10px;
}
.me1 {
  margin-top: 7px;
  text-shadow: 2px 1px 10px;
  text-align: right;
  line-height: 42px;
  text-transform: uppercase;
  color: #e3e4e6;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.me2 {
  margin-top: 30px;
  text-shadow: 2px 1px 10px;
  text-align: left;
  line-height: 42px;
  text-transform: uppercase;
  color: #e3e4e6;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
h2 {
  text-shadow: 2px 1px 10px;
  color: #e3e4e6;
  margin-top: 50px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.projects {
  margin-top: 100px;
  text-align: center;
}
.projectname {
  text-shadow: 2px 1px 10px;
  color: #e3e4e6;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
a {
  text-decoration: none;
  color: #e3e4e6;
}
#contacts {
  text-shadow: 2px 1px 10px;
  color: #e3e4e6;
  margin-top: 50px;
}
.contacts {
  width: 20px;
  height: 20px;
}
